@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900&display=swap);

:root {
    --primary-color: #FFDE16;
    --secondary-color: #E3EDDF;
    --base-primary-color: #33342E;
    --base-secondary-color: #33342E;
    --font: 'Source Sans Pro', serif;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    color: var(--secondary-color);
    background-color: var(--base-primary-color);
    font-family: var(--font);
}

h1, h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-family: var(--font);
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
    transition: .5s ease;
}

a:hover, a:focus, a:active {
    color: #eee;
    text-decoration: none;
}

p {
    text-align: justify;
    font-size: 1.25rem;
    margin-bottom: 2em;
}


/* Header styles */
.main-header {
    width: 100%;
    background-color: var(--base-secondary-color);
    padding: 10px 100px;
}

.header-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-menu-item {
    border-bottom: none;
    color: var(--primary-color);
    font-family: var(--font);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.75rem;
    margin: 0 25px;
    font-weight: bold;
}

.header-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.header-nav-home-link {
    color: var(--secondary-color);
    display: flex;
    font-weight: bold;
    border-bottom: none;
    text-transform: uppercase;
    line-height: 1.75rem;
}

.header-nav-logo {
    width: 64px;
    height: 64px;
}

.header-nav-mvmt-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-nav-mvmt {
  display: block;
  font-size: 1rem;
  line-height: 0.75rem;
}

.header-nav-hub-name {
  display: block;
  font-size: 2rem;
}

@media screen and (max-width: 820px) {
  .main-header {
      padding: 10px;
  }
}


@media screen and (max-width: 600px) {
  .header-nav-home-link {
      display: none;
  }
}

/* Body styles */

.center {
    text-align: center;
}

.container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

p {
    text-align: justify;
    font-size: 1.25rem;
    margin-bottom: 2em;
}

.banner {
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px 100px;
    text-align: center;
}

.banner a {
    font-weight: 900;
    color: var(--base-primary-color);
}


#banner-close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-family: helvetica,arial,sans-serif !important;
    font-weight: lighter !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.index-header-positioner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.masthead {
    min-height: 30rem;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.masthead h1 {
    font-size: 4rem;
}

.short-masthead {
    min-height: 20rem;
    position: relative;
    width: 100%;
    height: 50vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    #title-text {
        font-size: 10vw;
        margin: auto;
    }

    .container {
        width: 90%;
    }
}

@media screen and (orientation: landscape) and (max-width: 820px) {
    #title-text {
        margin: auto;
        font-size: 10vh;
    }
}

.copyright {
    font-size: .8rem;
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #666;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.footer .social-link:hover {
    background-color: #ccc;
    text-decoration: none;
}


.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--base-primary-color) !important;
}

.btn-secondary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--base-primary-color) !important;
    filter: brightness(85%);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    filter: brightness(85%);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    filter: brightness(75%);
}

.btn-dark {
    color: #fff !important;
}

.btn {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    font-weight: 900;
}

.btn a {
    color: inherit;
    border-bottom: none;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--secondary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
