@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
    --primary-color: #FFDE16;
    --secondary-color: #E3EDDF;
    --tertiary-color: #8F0D56;
    --base-primary-color: #33342E;
    --base-secondary-color: #FFFFFF;
    --font: 'Source Sans Pro', serif;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    color: var(--base-primary-color);
    background-color: var(--base-secondary-color);
    font-family: var(--font);
}

h1 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: var(--font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    color: var(--base-primary-color);
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center;
    font-family: var(--font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .15em;
}

h3 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5rem;
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--tertiary-color);
    transition: .5s ease;
}

a:hover, a:focus, a:active {
    color: #eee;
    text-decoration: none;
}

p {
    line-height: 2rem;
    text-align: justify;
    font-size: 1.25rem;
    margin-bottom: 2em;
}

img {
    width: 100%;
}


/* Header styles */
.main-header {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: transparent;
}

.header-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}

.header-menu-list-item {
    padding: 12px 18px;
}

.header-menu-item {
    border-bottom: none;
    color: var(--primary-color);
    font-family: var(--font);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: .15em;
}

.header-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.header-nav-home-link {
    color: var(--primary-color);
    display: flex;
    font-weight: bold;
    border-bottom: none;
    text-transform: uppercase;
    line-height: 1.75rem;
}

.header-nav-logo {
    width: 64px;
    height: 64px;
}

.header-nav-mvmt-text {
    color: var(--base-secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .1em;
}

.header-nav-mvmt {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
}

.header-nav-hub-name {
  display: block;
  font-size: 2rem;
}

@media screen and (max-width: 820px) {
  .header-nav {
      padding: 10px 0px;
  }
}


@media screen and (max-width: 600px) {
  .header-nav-home-link {
      display: none;
  }
}

/* Body styles */

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    width: 60%;
    display: flex;
    height: 100%;
    flex-direction: column;
}

p {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 2em;
}

.banner {
    display: flex;
    width: 100%;
    min-height: 50px;
    background-color: var(--primary-color);
    padding: 10px 100px;
    align-items: center;
    justify-content: center;
}

.banner a {
    font-weight: bold;
    color: var(--base-primary-color);
    border: none;
}


#banner-close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: helvetica,arial,sans-serif !important;
    font-weight: lighter !important;
}

.index-header-positioner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.masthead {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
}

.masthead h1 {
    font-size: 4rem;
}

.short-masthead {
    min-height: 20rem;
    position: relative;
    width: 100%;
    height: 50vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    margin-bottom: 40px;
}

.parallax {
    position: relative;
    width: 100%;
    height: 75vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
}

.row {
    padding: 2em 0em;
    margin: 0;
}

.reverse {
    flex-direction: row-reverse;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 820px) {
    #title-text {
        font-size: min(10vw, 4rem);
        margin: auto;
    }

    .container {
        width: 90%;
        max-width: none;
    }

    .row {
        display: unset;
        padding: unset;
    }

    .masthead, .parallax {
        background-attachment: unset;
    }
}

@media screen and (orientation: landscape) and (max-width: 820px) {
    #title-text {
        margin: auto;
        font-size: min(10vh, 4rem);
    }

    .masthead {
        padding-bottom: 4rem;
    }

    .row {
        display: unset;
        padding: unset;
    }

    .masthead, .parallax {
        background-attachment: unset;
    }
}

.copyright {
    color: var(--secondary-color);
    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin: 0px;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--base-primary-color);
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    font-size: 18px;
    color: var(--base-primary-color);
    background-color: white;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border: none;
}

.footer .social-link:hover {
    background-color: #ccc;
    text-decoration: none;
}

.footer-element {
    padding: 20px 0px;
}


.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--base-primary-color) !important;
}

.btn-secondary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--base-primary-color) !important;
    filter: brightness(85%);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    filter: brightness(85%);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    filter: brightness(75%);
}

.btn-dark {
    color: #fff !important;
}

.btn {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15em;
    border-radius: 0;
    padding: 12px 18px;
    transition: .5s ease;
    margin: 0em 1em;
}

.btn a {
    color: inherit;
    border-bottom: none;
}

.btn-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1em 0em;  
}

.btn-group-vertical .btn {
    margin: 1em 0em;      
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--secondary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.calendar {
    width: 100%;
    height: 600px;
}

