

body {
  color: #fff
}

h1 {
  color: #ffde16;
}
h2 {
  color: #ffde16;
}

a {
  color: #ffde16;
  text-decoration: none;
  border-bottom: 2px solid #ffde16;
  transition: .5s ease;
}

a:hover, a:focus, a:active {
  color: #ffde16;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../2019-08-24-West-Summit.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: white;
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 5.5rem;
  }
}

.bottom-right-corner {
  position: absolute;
  width: 66%;
  bottom: 0;
  right: 0;
  padding-bottom: 1.5em;
  padding-right: 1.5em;
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}


.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #1D809F !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #ecb807 !important;
}
