<!DOCTYPE HTML>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <title>{{.Title}}</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
  <link rel="stylesheet" href="css/main.css" />


</head>
<body>
  <!-- Header -->
  <div class="header masthead" id="header">
    <div class="container">
      <h1 id="title-text"><span>{{.Params.bannerWelcome}}</span></h1>
    </div>
  </div>


  <!-- Who We Are -->
  <section class="section" id="who-we-are">
    <div class="container">
      {{ .Params.section1 | markdownify }}

      <div class="video-container"><iframe src="https://player.vimeo.com/video/387877356" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p><a href="https://vimeo.com/387877356">Generation Green New Deal sneak peak [Spanish subtitles]</a> from <a href="https://vimeo.com/sameilertsen">Sam Eilertsen</a> on <a href="https://vimeo.com">Vimeo</a>.</p></div>
    </div>
  </section>

  <section class="section" id="what-we-do">
    <div class="container">
      {{ .Params.section2 | markdownify }}
    </div>
  </section>

  <!-- Footer -->
  <div class="footer center">
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://www.facebook.com/bayareasunrise" target="_blank">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://twitter.com/sunrisebayarea" target="_blank">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://www.instagram.com/bayareasunrise/" target="_blank">
            <i class="icon-social-instagram"></i>
          </a>
        </li>
      </ul>
      <p class="copyright">Copyright &copy; Sunrise Movement 2020</p>
    </div>
  </div>

</body>
</html>
