<!-- Footer -->
<footer class="footer center">
  <div class="container">
    <ul class="list-inline">
      {{ with .Site.Data.settings.facebookUrl }}
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="{{ . }}" target="_blank" rel="noreferrer">
            <i class="icon-social-facebook"></i>
            <p class="hidden">Facebook</p>
          </a>
        </li>
      {{ end }}
      {{ with .Site.Data.settings.twitterUrl }}
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="{{ . }}" target="_blank" rel="noreferrer">
            <i class="icon-social-twitter"></i>
            <p class="hidden">Twitter</p>
          </a>
        </li>
      {{ end }}
      {{ with .Site.Data.settings.instagramUrl }}
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="{{ . }}" target="_blank" rel="noreferrer">
            <i class="icon-social-instagram"></i>
            <p class="hidden">Instagram</p>
          </a>
        </li>
      {{ end }}
    </ul>
    <p class="copyright">Copyright &copy; Sunrise Movement 2020</p>
  </div>
</div>
