<!-- Footer -->
<footer class="footer center">
  <div class="container">
    <div class="footer-element">
      <a class="btn btn-primary">
        <span>Donate to Sunrise Bay Area</span>
      </a>
    </div>
    <div class="footer-element">
      <ul class="list-inline">
        {{ with .Site.Data.footer.facebookUrl }}
          <li class="list-inline-item">
            <a class="social-link rounded-circle" href="{{ . }}" target="_blank" rel="noreferrer">
              <i class="fab fa-facebook-f"></i>
              <p class="hidden">Facebook</p>
            </a>
          </li>
        {{ end }}
        {{ with .Site.Data.footer.twitterUrl }}
          <li class="list-inline-item">
            <a class="social-link rounded-circle" href="{{ . }}" target="_blank" rel="noreferrer">
              <i class="fab fa-twitter"></i>
              <p class="hidden">Twitter</p>
            </a>
          </li>
        {{ end }}
        {{ with .Site.Data.footer.instagramUrl }}
          <li class="list-inline-item">
            <a class="social-link rounded-circle" href="{{ . }}" target="_blank" rel="noreferrer">
              <i class="fab fa-instagram"></i>
              <p class="hidden">Instagram</p>
            </a>
          </li>
        {{ end }}
        {{ with .Site.Data.footer.mediumUrl }}
          <li class="list-inline-item">
            <a class="social-link rounded-circle" href="{{ . }}" target="_blank" rel="noreferrer">
              <i class="fab fa-medium-m"></i>
              <p class="hidden">Medium</p>
            </a>
          </li>
        {{ end }}
        {{ with .Site.Data.footer.email }}
        <li class="list-inline-item">
          <a class="social-link rounded-circle" href="mailto:{{ . }}" target="_top" rel="noreferrer">
            <i class="far fa-envelope"></i>
            <p class="hidden">Email</p>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="footer-element">
      <p class="copyright">Copyright &copy; Sunrise Movement 2020</p>
    </div>
  </div>
</div>
