
<header class="main-header">
  {{ if isset .Site.Data.header.banner "text" }}
  <div class="banner" id="banner">
    <a class="btn-primary" href="{{ .Site.Data.header.banner.url }}" rel="noreferrer" target="_blank">
      {{ .Site.Data.header.banner.text }}
    </a>
    <button class="btn btn-secondary " id="banner-close">
        x
    </button>
  </div>
  <!-- Banner close functionality -->
  <script type="text/javascript">
    const setting = 'show-sunrise-banner-{{ .Site.Data.header.banner.id }}';
    const banner = document.getElementById('banner');
    const count = parseInt(localStorage.getItem(setting) ) || 0;
    document.getElementById('banner-close').onclick = (ev) => {
      banner.style = 'display:none;';
      localStorage.setItem(setting, count + 1);
    };
    // After closing 3 times, don't show anymore
    if((localStorage.getItem(setting) >= 3)) {
      banner.style = 'display:none;';
    }
  </script>
  {{ end }}
  <nav class="header-nav">
    <a href="/" class="header-nav-home-link">
      <img src="{{.Site.Data.header.logo}}" class="header-nav-logo" loading="lazy" alt="Sunrise Movement" />
      <div class="header-nav-mvmt-text">
        <span class="header-nav-mvmt">{{.Site.Data.header.navbarNameTop}}</span>
        <span class="header-nav-hub-name">{{.Site.Data.header.navbarNameBottom}}</span>
      </div>
    </a>
    <ul class="header-menu">
      <li class="header-menu-list-item">
        <a href="/" class="header-menu-item">
            <span>Home</span>
        </a>
      </li>
      {{ range .Site.Data.header.menuItems }}
          <li class="header-menu-list-item">
            <a href="{{ .url }}" class="header-menu-item" rel="noreferrer" target="_blank">
                <span>{{ .text }}</span>
            </a>
          </li>
      {{ end }}
      {{ range .Site.Menus.main }}
          <li class="header-menu-list-item">
            <a href="{{ .URL }}" class="header-menu-item">
                <span>{{ .Title }}</span>
            </a>
          </li>
      {{ end }}
      <li>
    <a href="{{.Site.Data.header.joinUrl}}" class="btn btn-primary" rel="noreferrer" target="_blank">
          <span>Join</span>
        </a>
        
      </li>
    </ul>
  </nav>
</header>
