<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sunrise is a national movement to stop climate change and create millions of good jobs in the process.
   Sunrise Bay Area is one of the many local hubs that have sprung up nationwide to bring that movement to life!">

  <title>{{.Title}}</title>

  <link rel="preconnect" href="https://gstatic.com/" crossorigin="anonymous">
  <link rel="preconnect" href="https://google.com/" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
