<!DOCTYPE HTML>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    <!-- Header -->
    <header class="header masthead" style="background-image: radial-gradient(#fff, #111), url({{.Params.mastheadImage}})">
      <div class="container">
        <h1 id="title-text"><span>{{.Params.bannerWelcome}}</span></h1>

        <a class="btn btn-primary" href={{.Params.joinUrl}} rel="noreferrer" target="_blank">
          {{.Params.joinText}}
        </a>
      </div>
    </header>


    <!-- Body -->
    <section class="section">
      <div class="container">
        {{.Content}}
      </div>
    </section>

    {{- partial "footer.html" . -}}
  </body>
</html>
