{{ define "header" }}
  <div class="index-header-positioner">
    {{- partial "header.html" . -}}

    <div class="masthead" style="background-image: url({{.Params.mastheadImage}}), radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8))">
      <div class="container center">
        <h1 id="title-text"><span>{{.Params.bannerWelcome}}</span></h1>
        <a class="btn btn-primary" href={{.Params.joinUrl}} rel="noreferrer" target="_blank">
          <span>{{.Params.joinText}}</span>
        </a>
      </div>
    </div>
  </div>
{{ end }}

{{ define "main" }}

  <section>
    <div>
      {{.Content}}
    </div>
  </section>

{{ end }}
